<div>

<form>
    <select ng-model="whichPool">
        <option ng-repeat="(key, data) in usrData" value="{{key}}">{{key}}</option>
    </select>
</form>

<div ng-repeat="(pool, members) in usrData" id="{{pool}}" class="pool" ng-if="whichPool === pool">
    <div ng-repeat="(member, memberData) in members">
        <div class="usrHeading">
            <div class="usrAvatar"></div>
            <div class="usrInfo">
                <div class="usrName">{{memberData.name}}</div>
                <div class="usrPosition">{{memberData.position}}</div>
            </div>
            <div class="usrRole">
                <span ng-repeat="role in memberData.roles">{{role}} .::. </span>
            </div>
        </div>

        

        <div class="member">
            <!-- <div class="data_weeks" ng-repeat="(weekNumber, weekData) in memberData.weeks" id="{{member}}_week_{{weekNumber}}">
                <span>Week {{weekNumber}}</span>
                <span class="data_week_day" ng-repeat="(weekday, dayInfo) in weekData.days">{{weekday}} - {{dayInfo.day}} - {{dayInfo.timeLogged}}</span>
                <span>{{weekData.totalHoursTime}}</span>
            </div> -->
            <div class="week_select">
                <select name="weeks" id="{{member}}_weeks" ng-model="currentWeek">
                    <option ng-repeat="(key, value) in memberData.weeks" value="{{key}}" ng-selected="key == currentWeek">Week {{key}}</option>
                </select>    
            </div>
            
            <div class="data_weeks" ng-repeat="(weekNumber, weekData) in memberData.weeks" id="{{member}}_week_{{weekNumber}}" ng-show="currentWeek == weekNumber">
                <div class="logged_head"></div>
                <div class="logged_display">
                    <span>{{weekData.totalHoursTimeHours}}h</span><br/>
                    <span>{{weekData.totalHoursTimeMins}}m</span>
                </div>
                <div class="logged_chart" id="{{member}}_{{weekNumber}}">
                    <canvas class="chart chart-bar" chart-data="weekData.chartData.data" chart-labels="weekData.chartData.labels" chart-series="series" chart-colors="weekData.chartData.colors"> </canvas>
                </div>
                <div class="logged_usr_details">
                    <span>YOUR STATS</span><br>
                    <div class="yourStats">
                        <div class="title">Best week time:</div>
                        <div class="content">{{memberData.totals.bestWeek.hoursTime}}</div>
                        <div class="clear_both"></div>
                    </div>
                    <div class="yourStats">
                        <div class="title">Best week:</div>
                        <div class="content">{{memberData.totals.bestWeek.hoursWeek}}</div>
                        <div class="clear_both"></div>
                    </div>
                    <div class="yourStats">
                        <div class="title">Worst week time:</div>
                        <div class="content">{{memberData.totals.worstWeek.hoursTime}}</div>
                        <div class="clear_both"></div>
                    </div>
                    <div class="yourStats">
                        <div class="title">Worst week:</div>
                        <div class="content">{{memberData.totals.worstWeek.hoursWeek}}</div>
                        <div class="clear_both"></div>
                    </div>
                </div>
                <div class="clear_both"></div>
                <!--<div class="clear_both">{{weekData.totalHoursTime}}</div>-->
            </div>
        </div>
        
    </div>

</div>

</div>