<div>
    <div id="actions-wrapper">
        <div class="poolSelect">
            Pool:
            <select ng-model="thisUserPool" ng-change="broadcastRender()">
                <option ng-repeat="(key, data) in displayData" value="{{key}}">{{poolDisplayName[key]}}</option>
            </select>
        </div>

        <div class="screenshot-btn">
            <button ng-click="takeScreenShot()">Screenshot</button>
        </div>
    </div>
    <div ng-repeat="(pool, members) in displayData" id="{{pool}}" class="pool summary" ng-if="showSummary(pool)">
        <div class="member" ng-if="pool != 'manager'">
            <div class="summary_pool_name">{{poolDisplayName[pool]}}</div>
            <div class="summary_table">
            <table class="summary_pool_heading">
                <thead class="summary_thead">
                <tr>
                    <td>Week</td>
                    <td ng-repeat="(member, memberData) in members.users">
                        {{member}}
                    </td>
                </tr>
                <tr>
                    <td>Avg</td>
                    <td ng-repeat="(member, memberData) in members.users" ng-class="checkTotal(memberData.totals.averageDisplay)">
                        {{memberData.totals.averageDisplay}}
                    </td>
                </tr>
                </thead>
                <tbody class="summary_tbody">
                    <tr ng-repeat="weekNo in overviewWeeks" ng-class-even="'even'">
                        <td>{{weekNo}}</td>
                        <td ng-repeat="(member, memberData) in members.users" ng-class="checkTotal(memberData.weeks[weekNo].totalHoursTime)">
                            {{memberData.weeks[weekNo].totalHoursTime}}
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <div ng-repeat="(pool, members) in displayData" id="{{pool}}" class="pool" ng-if="thisUserPool === pool">
        
        <div ng-repeat="(member, memberData) in members.users" ng-if="pool != 'manager'">
            <div class="usrHeading">
                <div class="usrAvatar"></div>
                <div class="usrInfo">
                    <div class="usrName">{{memberData.name}}</div>
                    <div class="usrPosition">{{memberData.position}}</div>
                </div>
                <div class="usrRole">
                    <span ng-repeat="role in memberData.roles">{{role}} .::. </span>
                </div>
            </div>

            <div class="member">
                <!-- <div class="data_weeks" ng-repeat="(weekNumber, weekData) in memberData.weeks" id="{{member}}_week_{{weekNumber}}">
                    <span>Week {{weekNumber}}</span>
                    <span class="data_week_day" ng-repeat="(weekday, dayInfo) in weekData.days">{{weekday}} - {{dayInfo.day}} - {{dayInfo.timeLogged}}</span>
                    <span>{{weekData.totalHoursTime}}</span>
                </div> -->
                <div class="week_select">
                    <select name="weeks" id="{{member}}_weeks" ng-model="currentWeek" ng-change="changeWeek(member)">
                        <option ng-repeat="(key, value) in memberData.weeks" value="{{key}}" ng-selected="key == currentWeek">{{value.dateRange}} (#{{key}})</option>
                    </select>
                </div>

                <div class="data_weeks" ng-repeat="(weekNumber, weekData) in memberData.weeks" id="{{member}}_week_{{weekNumber}}" ng-show="currentWeek == weekNumber">
                    <div class="logged_head"></div>
                    <div class="logged_display">
                        <span>{{weekData.totalHoursTimeHours}}h</span><br/>
                        <span>{{weekData.totalHoursTimeMins}}m</span>
                    </div>
                    <div class="logged_chart hide" id="{{member}}_{{weekNumber}}">
                        <canvas class="chart chart-bar" chart-data="weekData.chartData.data" chart-labels="weekData.chartData.labels" chart-series="series" chart-colors="weekData.chartData.colors"> </canvas>
                    </div>
                    <div class="logged_usr_details stats">
                        <span>YOUR STATS</span>
                        <div>
                            <div class="title">Best Week:</div>
                            <div class="content">Week {{memberData.totals.bestWeek.hoursWeek}} .::. {{memberData.totals.bestWeek.hoursTime}}</div>
                            <div class="clear_both"></div>
                        </div>
                        <div>
                            <div class="title">Worst Week:</div>
                            <div class="content">Week {{memberData.totals.worstWeek.hoursWeek}} .::. {{memberData.totals.worstWeek.hoursTime}}</div>
                            <div class="clear_both"></div>
                        </div>
                        <div>
                            <div class="title">2017 Total:</div>
                            <div class="content">{{memberData.totals.alltime.time}}</div>
                            <div class="clear_both"></div>
                        </div>
                        <div>
                            <div class="title">Average:</div>
                            <div class="content">{{memberData.totals.averageDisplay}}</div>
                            <div class="clear_both"></div>
                        </div>
                    </div>
                    <!-- <div class="logged_usr_details stats">
                        <span>TEAM STATS</span>
                        <div>
                            <div class="title">Best week:</div>
                            <div class="content">
                                {{memberData.totals.bestWeek.hoursTime}} </br>
                                Week {{memberData.totals.bestWeek.hoursWeek}}
                            </div>
                            <div class="clear_both"></div>
                        </div>
                        <div>
                            <div class="title">Worst week:</div>
                            <div class="content">
                                {{memberData.totals.worstWeek.hoursTime}} </br>
                                Week {{memberData.totals.worstWeek.hoursWeek}}
                            </div>
                            <div class="clear_both"></div>
                        </div>
                    </div> -->
                    <div class="clear_both"></div>
                    <!-- <div class="trends">
                        <canvas class="chart chart-bar" chart-data="memberData.totals.weekTotalsChart.hours" chart-labels="memberData.totals.weekTotalsChart.week" chart-series="series"> </canvas>
                    </div> -->
                </div>
            </div>

        </div>

    </div>

</div>
