body{
    background-color: #cdcdcd;
}

.usrHeading{
    width: 1000px;
    margin: 20px auto;
    background-color: #31a66c;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
}

.member{
    width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
    border: 1px solid silver;
    position: relative;
}

#myChart-license-text{
    display: none;
}

.member select{
}

.usrAvatar{
    background-image: url('../images/avatar.png');
    width: 225px;
    height: 214px;
    position: relative;
    top:50px;
    left: 50px;
    float:left;
}

.week_select{
    position: absolute;
    right: 5px;
    text-align: right;
    top: 5px;
}

.usrInfo{
    float:left;
    color: white;
}

.usrRole{
    float:right;
}

.usrName {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    top: 110px;
    left: 100px;
    font-size: 40px;
}

.usrPosition{
    position: relative;
    font-family: Arial;
    top: 108px;
    left: 100px;
    font-size: 16px;
}

.usrRole{
    position: relative;
    font-family: Arial;
    position: relative;
    color: white;
    top: 260px;
    right: 50px;
}

.data_weeks{
    padding: 5px;
    margin: 5px;
}

.data_week_day{
    display: block;
}

.logged_head{
    background: url(../images/logged.gif) no-repeat;
    width: 28px;
    height: 161px;
    float: left;
    margin-left: 50px;
}

.logged_display{
    float: left;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #31a66c;
    font-size: 100px;
    line-height: 80px;
    margin-left: 20px;
    
}
.logged_chart{
    float: left;
    padding: 10px 0 0 10px;
}


.logged_chart canvas, .logged_chart iframe{
    width: 300px !important;
    height: 150px !important;
}

.logged_display span{
    width: 220px;
}

.clear_both{
    clear: both;
}

.logged_usr_details{
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    color: #000;
    font-size: 12px;
    font-weight: normal;
}

.logged_usr_details span{
    display: block;
    font-weight: 900;
    color: #31a66c;
    font-size: 16px;
}

.stats{
    padding-left: 15px;
    padding-top: 35px;
}

.logged_usr_details .title, .content{
    float:left;
}

.logged_usr_details .title{
    width:80px;
    font-weight: bold;
}

.logged_usr_details .content{
    padding-left:10px;
    width:120px;
}